
name: Demo with upterm

on:
  workflow_dispatch: 
jobs:
  build-and-deploy:
    runs-on: windows-latest # For Linux, use ubuntu-latest
    environment: dev
    steps:
    - name: 'Checkout GitHub Action'
      uses: actions/checkout@v4

    - name: Setup upterm session
      uses: owenthereal/action-upterm@v1
      with:
        ## Shut down the server if unconnected after 5 minutes.
        wait-timeout-minutes: 5
